playground*
output*
logs*
dev/*
__pycache__*
results*
Unioned_Datasets/*
Archive
Dev
NTR*
exp-*
models*
.pip-cache
Quintet_3_baran_results
plots
datasets/open_data_uk_filtered
datasets/address*
datasets/flights*
datasets/soccer*
plot_*
datasets/open_data_uk_93/
datasets/tables/
latex_ablation
ablations_old*
ablation_results*
.vscode*